 body {
   font-family: Arial, sans-serif;
   background: #230312;
   padding: 5px;
   margin: 0px;
   /*Sirve para colocar un fondo 
     background-image: url("");
     background-size: cover;
     /* hace que cubra toda la pantalla */
   /* background-repeat: no-repeat; */
   /* evita que se repita */
   /* background-attachment: fixed; */
   /* hace que quede fija al hacer scroll */
   /* background-position: center; */
   /* centra la imagen */

 }

 .header {
   display: flex;
   justify-content: center;
   align-items: flex-start;
   padding: 15px 30px;
   background-color: #230312;
   margin-top: 0;
 }

 .logo-eslogan {
   display: flex;
   align-items: center;
 }

 .mi-eslogan {
   flex: 1;
   text-align: center;
   margin-top: 60px;
 }

 .eslogan {
   font-size: 25px;
   font-style: italic;
   color: #ffffff;
 }

 .logo {
   width: 200px;
   height: auto;
 }

 .logo-original {
   display: flex;
   flex-direction: column;
   align-items: flex-end;
   gap: 12px;
 }

 .logotipo {
   width: 150px;
   height: auto;
 }

 .buscador-container {
   display: flex;
   justify-content: center;
 }

 h2 {
   color: #ffffff;
   text-align: center;
 }

 h3 {
   color: #ffffff;
 }

 .catalogo {
   display: grid;
   grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
   gap: 20px;
 }

 .card {
   background: beige;
   border-radius: 12px;
   box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
   padding: 15px;
   text-align: center;
   transition: transform 0.2s ease, box-shadow 0.2s ease;
 }

 .card:hover {
   transform: scale(1.05);
 }

 .card img {
   max-width: 100%;
   border-radius: 10px;
 }

 .card h3 {
   margin: 10px 0 5px;
   font-size: 18px;
 }

 .card p {
   margin: 0;
   color: #555;
 }

 .buscador-container {
   display: flex;
   align-items: center;
   gap: 5px;
 }

 #buscador {
   width: 200px;
   height: 30px;
   font-size: 17px;
   padding: 5px 10px;
   border-radius: 8px;
   border: 1px solid whitesmoke;
 }

 .buscador-container button {
   height: 40px;
   padding: 10 5px;
   font-size: 16px;
   border-radius: 8px;
   border: none;
   background-color: #230312;
   color: whitesmoke;
   cursor: pointer;
 }

 .buscador-container button:hover {
   background-color: #a1074a;
 }

 .detalles {
   margin-top: 10px;
   padding: 10px;
   background: thistle;
   border-radius: 8px;
   display: none;
 }

 #masDetalles .card {
   background: #fffaf0;
   max-width: 600px;
   width: 100%;
   padding: 25px;
   margin: 20px auto;
   text-align: left;
 }

 #masDetalles .card h2 {
   font-size: 1.8rem;
   color: #230312;
   margin-bottom: 15px;
   text-align: center;
 }

 #masDetalles .card img {
   display: block;
   margin: 0 auto 20px auto;
   border-radius: 12px;
   max-width: 100%;
   height: auto;
 }

 #masDetalles .card p {
   font-size: 1rem;
   color: #333;
   margin-bottom: 12px;
   line-height: 1.6;
 }

 #masDetalles .card p strong {
   color: black;
 }

 .footer {
   display: flex;
   justify-content: center;
   align-items: center;
   position: relative;
   padding: 45px;
   background-color: #230312;
   color: #ffffff;
   text-align: center;
 }

 .footer img {
   position: absolute;
   left: 20px;
   bottom: 10px;

 }

 #volver-atras {

   padding: 10px 20px;
   font-size: 16px;
   font-weight: bold;
   border-radius: 12px;
   border: none;
   background: #230312;
   color: #ffffff;
   cursor: pointer;

 }

 #volver-atras:hover {
   background-color: #a1074a;;
 }